<div{{ content['#attrs'].addClass('landing-left-sidebar') }}>
  <div class="top-banner clearfix">
    {{ content.top }}
  </div>
  <div class="container">
    <div class="row">
      <div class="content-right col-xs-12 col-md-9 col-md-push-3">
        {{ content.main }}
      </div>
      <div class="content-left col-xs-12 col-md-3 col-md-pull-9">
        {{ content.sidebar }}
      </div>
    </div>
  </div>
</div>
