<div {{ content['#attrs'].addClass('block-brand match-height') }}>

  {{ field_render([content.logo, 'logo']) }}

  {{ field_render([content.body, 'block-body']) }}

  {{ field_render([content.button, 'button btn-prm-wrap']) }}

</div>
