<div {{ content['#attrs'].addClass('block-countdown') }}>

  {{ field_render([content.head, 'title sidehead1', 'h2']) }}

  {{ field_render([content.countdown, 'countdown']) }}

  {{ field_render([content.button, 'btn-prm-wrap']) }}

</div>
