<div {{ content['#attrs'].addClass('block-countdown-circle clear-after') }}>
  <div class="container">

    {{ field_render([content.countdown, 'countdown']) }}

    {{ field_render([content.button, 'button btn-scnd-wrap']) }}

  </div>
</div>
