<div class="block-enticement">

  {{ field_render([content.image, 'image']) }}

  <div class="right">

    {{ field_render([content.head, 'title', 'h2']) }}

    {{ field_render([content.teaser, 'block-body']) }}

    {{ field_render([content.button, 'button btn-prm-wrap']) }}

  </div>

</div>
