<div class="block-icon">

  {{ field_render([content.image, 'icon']) }}

  {{ field_render([content.head, 'title', 'h2']) }}

  {{ field_render([content.body, 'block-body']) }}

  {{ field_render([content.link, 'link']) }}

</div>
