<div class="block-image-slide-default">

  {{ field_render([content.image, 'img']) }}

  <div class="slide-info-wrapper container">
    <div class="slide-info">

      {{ field_render([content.head, 'title', 'h2']) }}

      {{ field_render([content.body, 'block-body']) }}

    </div>
  </div>
</div>
