<div class="block-image-header">
  <div class="top-banner clearfix">
    <div class="container name-container">
      {{ field_render([content.head, 'page-name']) }}
    </div>

    {{ field_render([content.image, 'img-header']) }}

  </div>
</div>
