<div class="block-person">

  {{ field_render([content.image, 'image']) }}

  {{ field_render([content.name, 'name sidehead3']) }}

  {{ field_render([content.job_title, 'job-title side-paragraph']) }}

  {{ field_render([content.company, 'company side-paragraph']) }}

</div>
